 ####   Python Programming
    Write a Python program that generates a report that contains a subset of the data from your database.  Print the output to SCREEN (stdout).  Include the screen capture of the program output in your Word document report, and also post the program to your GitHub repository.  Be sure to comment your code well.

    The program is just a SELECT * command that displays the contents of each table. If you have many records, you might want to look into the LIMIT option to restrict your output. Your output should be at least 3 records per table. 

    Remember, most of the python code already exists! You just have to modify the login components and the specific command to query your tables.  Please ask for help if you still have trouble getting your script to work.

 ####   Rubric: Your work will be graded as follows:
    •	5 points for the script in GitHub
    •	5 points for successfully connecting to the database
    •	5 points for successfully querying it
    •	5 points for a screen capture of the data output on screen. 
    •	10  points for Internal comments – they must accurately describe each of the following:
        o	The purpose of the program
        o	The connection to the database
        o	The creation of the cursor object
        o	The SQL query string and execution
        o	The output components

    You can either write the comment above a section of code and use white space to keep things separate, or you can write functions and just comment the function.  However, I’m looking for 5 pieces of comments.

    I should be able to execute your code in a Python3 environment and see results. 

    Total points possible: 30

In [3]:
# The purpose of the code is to understand the python - database connection, where we use python script to run SQL queries

In [4]:
'''Here we are testing the connection with the database and printing the status of the connection'''
import mysql.connector as mysql
 
con = None
try:
    #create MYSQL connection & create commondb by default
    con=mysql.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password')
    cur = con.cursor()  
    
    #fetch MYSQL version
    print("-----------------------------------------")
    cur.execute('SELECT VERSION()')
    data = cur.fetchone()
    print ("MYSQL version: %s" % data)         
except mysql.Error as e:
    print('Execption1')
    print ("Error :",e)
except  e:   
    print ("Error %s:" % e.args[0])
    sys.exit(1)
finally:    
    if con:
        con.close()

-----------------------------------------
MYSQL version: 5.5.22

In [6]:
'''Doing CRUD operations in the Test Database using python script and sql queries'''

#connect to MYSQL test database  
import mysql.connector

con=mysql.connector.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password',database='test')

cur = con.cursor()    
cur.execute("DROP Table IF EXISTS customer")
    #print("-----------------------------------------")
cur.execute("CREATE TABLE if not exists customer (Customer_id int, Customer_Name Varchar(50),Phone_Number Varchar(10))")

'''Inserting the data into the Customer table'''

cur.execute("insert into customer(Customer_Id,Customer_Name,Phone_Number)values(999,'Ujwal Singh',9956223312)")

'''Updating the exisitng data in the Customer Table'''
cur.execute("update customer Set Customer_name='Sharan', Phone_number='6699442211' where customer_Id=999")
    
con.commit()

    
con.close()

-----------------------------------------
-----------------------------------------

In [9]:
'''Doing CRUD operations in the Test Database using python script and sql queries'''

#connect to MYSQL test database  
import mysql.connector

con=mysql.connector.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password',database='test')

cur = con.cursor()    
 
'''Inserting the data into the Customer table'''

cur.execute("insert into customer(Customer_Id,Customer_Name,Phone_Number)values(6785,'Girish Kumar',7667547699)")
cur.execute("insert into customer(Customer_Id,Customer_Name,Phone_Number)values(6786,'Ajay',8565677899)")
cur.execute("insert into customer(Customer_Id,Customer_Name,Phone_Number)values(6787,'Punith',9875653579)")

con.commit()

print("Succesfully updated the data")
    
con.close()

Succesfully updated the data

In [11]:
'''Fetching the data from the table using Select * command'''

#connect to MYSQL test database  
import mysql.connector

con=mysql.connector.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password',database='test')

cur = con.cursor()    
    
cur.execute("SELECT * FROM customer")
rows = cur.fetchall()
    
    #print("ROWS TYPE IS:",type(rows))
for row in rows:
#     print("ROW IN ROWS TYPE IS:",type(row))
    print (row)
    
con.close()

(999, 'Sharan', '6699442211')
(6785, 'Girish Kumar', '7667547699')
(6786, 'Ajay', '8565677899')
(6787, 'Punith', '9875653579')

In [14]:
'''Inserting the data into Employee table'''

#connect to MYSQL test database  
import mysql.connector

con=mysql.connector.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password',database='test')

cur = con.cursor()    
 
'''Inserting the data into the employee table'''

cur.execute("insert into employee(Employee_Id, Employee_Name, Employee_HireDate)values(99881,'Krishna', '2000-08-01')")
cur.execute("insert into employee(Employee_Id, Employee_Name, Employee_HireDate)values(99882,'Raj Kumar', '2020-08-02')")

con.commit()

cur.execute("SELECT * FROM employee")
rows = cur.fetchall()
    
    #print("ROWS TYPE IS:",type(rows))
for row in rows:
#     print("ROW IN ROWS TYPE IS:",type(row))
    print (row)

print("Succesfully updated the data")
    
con.close()

(99881, 'Krishna', datetime.date(2000, 8, 1))
(99882, 'Raj Kumar', datetime.date(2020, 8, 2))
Succesfully updated the data

Product_id|name|Availability
655|Soaps|Yes
999|Detergent|No
1020|Dry fruits|Yes

In [15]:
'''Inserting the data into product table'''

#connect to MYSQL test database  
import mysql.connector

con=mysql.connector.connect(host='localhost',user='root',passwd='1234',auth_plugin='mysql_native_password',database='test')

cur = con.cursor()    

cur.execute("insert into product(Product_id, Name, Availability)values(655,'soaps', 'Yes')")
cur.execute("insert into product(Product_id, Name, Availability)values(999,'Detergent', 'No')")

con.commit()

cur.execute("SELECT * FROM product")
rows = cur.fetchall()
    
    #print("ROWS TYPE IS:",type(rows))
for row in rows:
#     print("ROW IN ROWS TYPE IS:",type(row))
    print (row)

print("Succesfully updated the data")
    
con.close()

(655, 'soaps', 'Yes')
(999, 'Detergent', 'No')
Succesfully updated the data